


.dragging {
    background-color: #73ac7ad5;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border: 1px dashed rgb(71, 71, 71);
}